# Build results
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VSCode
.idea/
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# База данных
*.db

# Загруженные файлы (чат)
JustHangingAround/wwwroot/uploads/

# (опционально) временные файлы
*.tmp

# SQLite
*.db
*.db-shm
*.db-wal